services:
  migrate:
    container_name: agents-wf-builder-migrate
    image: agents-wf-builder-migrate
    build:
      context: .
      dockerfile: Dockerfile
      target: migrate
    env_file:
      - .env
    networks:
      - agents-network
    restart: "no"

  app:
    container_name: agents-wf-builder
    image: agents-wf-builder
    build:
      context: .
      dockerfile: Dockerfile
      target: runner
    env_file:
      - .env
    ports:
      - "3003:3003"
    restart: unless-stopped
    depends_on:
      migrate:
        condition: service_completed_successfully
    networks:
      - agents-network

networks:
  agents-network:
    name: agents-network
    external: true
