services:
  wf-builder:
    container_name: wf-builder
    image: ghcr.io/wizeit/wf-builder:${VERSION:-main}
    env_file:
      - .env
    ports:
      - "3003:3003"
    restart: unless-stopped
    networks:
      - main-network

networks:
  main-network:
    external: true
