services:
  migrate:
    container_name: wf-builder-migrate
    image: wf-builder-migrate
    build:
      context: .
      dockerfile: Dockerfile
      target: migrate
    env_file:
      - .env
    networks:
      - main-network
    restart: "no"

  app:
    container_name: wf-builder
    image: wf-builder
    build:
      context: .
      dockerfile: Dockerfile
      target: runner
    env_file:
      - .env
    ports:
      - "3003:3003"
    restart: unless-stopped
    depends_on:
      migrate:
        condition: service_completed_successfully
    networks:
      - main-network

networks:
  main-network:
    external: true
